@import "templates/resetCssCss";
@import "templates/menuIconcon";



body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  //opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.bgimg-1 {
  background-image: url("templates/fon_2.jpg");

  height: 100vh;

  box-shadow: inset 0 0 10em 110px #000;
}
.vignette img {
  position: relative;
  z-index: -1;            /* position beneath */
}

.caption {
  position: absolute;
  //left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* сместить вверх и влево на половину высоты и ширины элемента. Для IE9+, для ряда браузеров нужны префиксы. Подробнее про свойство transform */
  width: 100%;
  text-align: center;
  color: #000;
  vertical-align: middle;
  user-select: none;
}

.caption span.border {
  //background-color: #111;
  color: #fff;
  display: block;

}

.caption__title {
  letter-spacing: 3px;
  font-family: 'Arvo', serif;
  font-size: 70px;
}

.caption__sub-title {
  font-size: 25px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


.my-container {
  //background-color: #ffa9ac;
  width: 1200px;
  max-width: 1200px;
}

.nav-bar {
  color: white;
  border-top: 1px solid #d3531a;
  border-bottom: 1px solid #d3531a; //#7b2e23;
  width: 100%;
  background-color: black;
  opacity: 1;

  &_bottom {
    position: absolute;
    bottom: 0;
  }

  &_top-fixed {
    border-top: 0;
    position: fixed;
    top: 0;
  }

  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  &__logo {
    height: auto;
    display: flex;
    margin: 0;
    align-items: center;
  }

  .nav-desktop {
    user-select: none;
    //ul {
    //  visibility: hidden;
    //  opacity: 0;
    //  transition: visibility 0s, opacity 0.5s linear;
    //}
    //&:hover > ul {
    //  visibility: visible;
    //  opacity: 1;
    //}
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    li {
      display: block; /* Отображать как строчный элемент */
      //border: 1px solid #FFF; /* Рамка вокруг текста */
      //border-radius: 10px;

      padding: 3px 20px; /* Поля вокруг текста */
      margin: 0 25px 0;
      transition: color 0.7s;
      position: relative;

      &:before {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background: #ec4444;
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
        left: 50%;
        bottom: 0;
      }

      &:after {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: #ec4444;
        transition: width 0.3s ease-in-out;
        left: 50%;
        bottom: 0;
      }

      &:hover:before {
        width: 50%;
        left: 0;
      }

      &:hover:after {
        width: 50%;
      }

      &:hover {
        color: #ec4444;
      }
    }
  }

  .nav-mobile {
    width: 20px;
    height: 50px
  }
}

@media screen and (max-width: 1100px) {
  .nav-bar {
    //background-color: red;
  }
  .nav-desktop {
    display: none;
  }
  .nav-desktop_active {
    display: block;
  }
  .menu {

    justify-content: space-between;
    //display: table;
    display: block;

    .menu__logo {
      width: 100%;
      img{
        padding: 10px;
      }
      padding: 10px;
    }
  }

  .nav-mobile {
    display: block !important;
  }
  .buttons {
    flex-direction: column;

    li {
      text-align: center;
      display: block;
      //width: 100%;
      width: auto;
      margin: 0 auto !important;
    }

  }
}
