@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

* {
  margin: 0;
  padding: 0; }

.nav-mobile {
  position: absolute;
  top: 10%;
  right: 20px;
  display: none; }

/* Icon 1 */
#nav-icon1, #nav-icon2, #nav-mobile, #nav-icon4 {
  width: 25px;
  position: relative;
  margin: 15px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.nav-mobile {
  display: none; }
  .nav-mobile_active {
    display: block !important; }

#nav-icon1 span, #nav-mobile span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon 3 */
#nav-mobile span:nth-child(1) {
  top: 0px; }

#nav-mobile span:nth-child(2), #nav-mobile span:nth-child(3) {
  top: 9px; }

#nav-mobile span:nth-child(4) {
  top: 18px; }

#nav-mobile.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-mobile.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-mobile.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-mobile.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/* Icon 4 */
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777; }

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bgimg-1 {
  background-image: url("fon_2.jpg");
  height: 100vh;
  -webkit-box-shadow: inset 0 0 10em 110px #000;
  box-shadow: inset 0 0 10em 110px #000; }

.vignette img {
  position: relative;
  z-index: -1;
  /* position beneath */ }

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* сместить вверх и влево на половину высоты и ширины элемента. Для IE9+, для ряда браузеров нужны префиксы. Подробнее про свойство transform */
  width: 100%;
  text-align: center;
  color: #000;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.caption span.border {
  color: #fff;
  display: block; }

.caption__title {
  letter-spacing: 3px;
  font-family: 'Arvo', serif;
  font-size: 70px; }

.caption__sub-title {
  font-size: 25px; }

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111; }

.my-container {
  width: 1200px;
  max-width: 1200px; }

.nav-bar {
  color: white;
  border-top: 1px solid #d3531a;
  border-bottom: 1px solid #d3531a;
  width: 100%;
  background-color: black;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav-bar_bottom {
    position: absolute;
    bottom: 0; }
  .nav-bar_top-fixed {
    border-top: 0;
    position: fixed;
    top: 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px; }
  .menu__logo {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu .nav-desktop {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .menu .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px; }
    .menu .buttons li {
      display: block;
      /* Отображать как строчный элемент */
      padding: 3px 20px;
      /* Поля вокруг текста */
      margin: 0 25px 0;
      -webkit-transition: color 0.7s;
      -o-transition: color 0.7s;
      transition: color 0.7s;
      position: relative; }
      .menu .buttons li:before {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background: #ec4444;
        -webkit-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
        -o-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
        left: 50%;
        bottom: 0; }
      .menu .buttons li:after {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: #ec4444;
        -webkit-transition: width 0.3s ease-in-out;
        -o-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
        left: 50%;
        bottom: 0; }
      .menu .buttons li:hover:before {
        width: 50%;
        left: 0; }
      .menu .buttons li:hover:after {
        width: 50%; }
      .menu .buttons li:hover {
        color: #ec4444; }
  .menu .nav-mobile {
    width: 20px;
    height: 50px; }

@media screen and (max-width: 1100px) {
  .nav-desktop {
    display: none; }
  .nav-desktop_active {
    display: block; }
  .menu {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: block; }
    .menu .menu__logo {
      width: 100%;
      padding: 10px; }
      .menu .menu__logo img {
        padding: 10px; }
  .nav-mobile {
    display: block !important; }
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .buttons li {
      text-align: center;
      display: block;
      width: auto;
      margin: 0 auto !important; } }
