* {
  margin: 0;
  padding: 0;
}

.nav-mobile {
  position: absolute;
  top: 10%;
  //transform: translate(0%, -100%);
  right: 20px;
  display: none;
  //width: 20px;
  //height: 50px;
}

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-mobile, #nav-icon4 {
  width: 25px;
  //height: 15px;
  position: relative;
  margin: 15px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-mobile {
  display: none;

  &_active {
    display: block !important;
  }
}


#nav-icon1 span, #nav-mobile span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-mobile span:nth-child(1) {
  top: 0px;
}

#nav-mobile span:nth-child(2), #nav-mobile span:nth-child(3) {
  top: 9px;
}

#nav-mobile span:nth-child(4) {
  top: 18px;
}

#nav-mobile.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-mobile.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-mobile.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-mobile.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

